/*section{
	border: 1px solid red;
	display: flex;
	padding: 10px;
}
section div{
	border: 1px solid red;
	flex: 1;
	padding: 10px;
	margin: 2px;
}*/

body{
	margin: 0;
}
/* Header styling begins here */ 
header{
	display: flex;
	background: #343a40;
	border: 10px solid grey;
	border-radius: 15px;
	margin: 0px 20px 0px 20px;
}
.headdiv{
	background: #2d3c41;
	margin: 0px;
	border: 10px;
	height: 500px;
	padding: 65px;
	color: white;
}
header a{
	color: white;
	text-decoration: none;
}
header a:hover{
	padding: 10px;
	background: grey;
	border-radius: 10px;
}
header div{
	flex: 1;
}
header nav{
	flex: 2;
}
header ul{
	display: flex;
	padding: 15px;
}
header nav ul li{
	flex: 1;
	list-style: none;
}
.responsive{
	/*padding: 75px;*/
	padding: 40px;
}
.yes button{
	padding: 20px;
	color: white;
	background: #0e9dd4f0;
	border-radius: 8px;
	border: none;
	font-size: 30px;
	margin: 30px 10px 30px 10px;
	width: 95%;
}
.yes{
	display: flex;
}
.shiny{
	flex: 2;
}
.headbutton{
	flex: 1;
}

/* topmaincontent style begins here */

.topmaincontent{
	text-align: center;
	background: #55616040;
	height: 700px;
	padding: 30px;
}
.heading{
	display: flex;
}
.h1,.h2,.h3{
	flex: 1;
	padding: 30px;
	background: #2c4043d1;
	margin: 20px;
	height: 150px;
	border-radius: 15px;
}
/* .topmaincontent p{
	padding: 20px;
    margin: 10px
} */
.topmaincontent div h1{
	margin: 0px;
}
.pretty{
	padding: 60px;
}
.para{
	display: flex;
}
.para div{
	flex: 1;
}

/* maincontent style begins here */
.subheading{
	display: flex;
	background: white;
	/*margin: 10px;*/
	padding: 20px;
}
.sub1,.sub2{
	margin: 10px;
	padding: 20px;
	text-align: center;
	flex: 1;
}
#this{
	padding: 20px;
	color: white;
	background: #088ec1f0;
	border-radius: 8px;
	border: none;
	font-size: 18px;
	margin: 20px;
	width: 40%;
}
#wait{
	padding: 20px;
	color: white;
	background: #1a2333de;
	border-radius: 8px;
	border: none;
	font-size: 18px;
	margin: 20px;
	width: 40%;
}

/* Bottom maincontent style begins here */ 

.bottommaincontent{
	background: #55616040;
	display: flex;
	padding: 40px;
	height: 700px;
}
.recent{
	flex: 2;
	padding: 50px;
}
.spotlight{
	flex: 1;
	padding: 50px;
}
.h7{
    padding: 30px;
	background: #2c4043d1;
	/*margin: 20px;*/
	height: 100px;
	border-radius: 15px;
}
.j1,.j2,.j3{
	display: flex;
}
.h4,.h5,.h6{
	flex: 1;
	padding: 30px;
	background: #2c4043d1;
	margin: 20px;
	height: 100px;
	border-radius: 15px;
}
.july1,.july2,.july3{
	flex: 2;
}
#spotlightbutton{
	padding: 15px;
	color: white;
	background: #2c4043d1;
	border-radius: 8px;
	border: none;
	width: 60%;
}


/* Footer styling begins here */

footer{
	background: #343a43;
	display: flex;
	color: white;
	height: 400px;
	padding: 50px;
	margin: 0;
}
.filter{
	flex: 1;
}
.more{
	flex: 1;
}
.touch{
	flex: 2;
}
footer a{
	color: white;
	opacity: 0.5;
	border-bottom: 1px solid grey;
	text-decoration: none;
}
.address{
	display: flex;
}
.social{
	flex: 2;
}
.addr{
	flex: 2;
}
.subfooter{
	background: #343a43;
	text-align: center;
	color: white;
	margin: 0;
}
#footerbutton{
	padding: 15px;
	color: white;
	background: grey;
	border-radius: 8px;
	border: none;
	width: 30%;
}
.touchlink{
	opacity: 0.5;
}

/* Dropdown Style begins here */ 

.dropbtn {
  background-color: #63696300; /*#636963 #04AA6D #3e8e4*/
  color: white;
  /* padding: 5px; */
  border-radius: 8px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 5px;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #636963 /*#3e8e41 */;
}
